@font-face {
    font-family: "Happy Monkey";
    src: url(HappyMonkey-Regular.ttf);
}
body {
    font-family: "Happy Monkey","Open sans";
    text-align: center;
    color: white;
    background: linear-gradient(#a2d2ff, #efb0c9);
}
.image {
    border-radius: 100%;
    width: 120px;
    border: 5px solid #efb0c9;
}
h1, h2, h3, h4 {
    text-shadow: 0px 0px 1px #000;
}
#age {
    background: #efb0c9;
    text-shadow: 0px 0px 1px #000;
    padding: 5px 10px;
    border-radius: 5px;
}
#dob {
    background: #efb0c9;
    text-shadow: 0px 0px 1px #000;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0;
}
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gift-cover, .gift-happy, .gift-describe, .gift-badass {
    width: 400px;
    border: 5px solid white;
    border-radius: 8px;
    background-image: url('images/gift-cover.jpg');
    background-size: cover;
    height: 400px;
    margin: 0 auto;
}
.gift-title {
    margin-bottom: 10px;
}
.gift-hint {
    margin-top: 0;
}
.gift-cover:hover {
    background-image: url('images/happy.gif');
}
.gift-happy:hover {
    background-image: url('images/hot.gif');
}
.gift-describe:hover {
    background-image: url('images/genius.gif');
}
.gift-badass:hover {
    background-image: url('images/badass.gif');
}
.gift-cheers {
    width: 400px;
    border: 5px solid white;
    border-radius: 8px;
    background-image: url('images/gift-cover.jpg');
    background-size: cover;
    height: 200px;
    margin: 10px auto;
}
.gift-cheers:hover {
    background-image: url('images/cheers.gif');
}
footer {
    font-style: italic;
    width: 400px;
    margin: 30px auto 20px;
    text-shadow: 0px 0px 1px #000;
}
a {
    color: white;
}